.dwn-btn:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, #ff9900, #ff6600);
  transition: all 0.5s ease;
}

.socia-links-area ul li:hover {
  background-color: none;
  background: linear-gradient(135deg, #ff6600, #ff9900);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.socia-links-area ul li:hover i {
  color: white;
  transition: all 0.5s ease;
}

.service-section-submain:hover .image-as-background-1,
.about-image:hover .image-as-background,
.skill-section-submain:hover .image-as-bg-1 {
  background-image: url('../asset/image/asset 17.png');
  transition: 2s;
}

.service-section-submain:hover .service-image-icon>img {
  background-color: #fd8735;
}

.service-section-submain:hover .service-image-icon>svg {
  border-radius: 5px;
  background-color: #fd8735;
  transition: 2s;
}

.service-section-submain:hover .service-image-icon svg stop {
  transition: 2s;
  stop-color: white;
}

.skill-section-submain:hover .skill-image-icon svg stop {
  transition: 2s;
  stop-color: white;
}

.service-section-submain:hover stop[stop-color] {
  color: white;
}

.service-section-submain:hover .service-image-icon>p,
.skill-section-submain:hover .skill-image-icon>p {
  color: white;
  transition: 1s;
}

.skill-submain-1:hover .skill-image-icon>svg>path{
  fill: white ;
  transition:fill 2s;
}

.skill-section-submain:hover .skill-round-2,
.skill-section-submain:hover .skill-round-1 {
  background-color: white;
  border: 1px solid #fd7103;
  color: black;
  transition: 2s;
}

.about-image:hover .about-subimage p {
  color: white;
}

.about-btn:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg, #ff9900, #ff6600);
  transition: all 0.5s ease;
}

.contact-sub:hover{
  border: 1px solid #ff6600;
  border-radius: 5px;
  transition: all 0.5s;
}

.contact-social-icon:hover {
  background-color: #000000;
  color: white;
  transition: 2s;
}


.portfolio-card:hover .overlay {
  transform: translateX(-98px);
  transition: transform 0.5s;
}

.portfolio-card:hover .overlay-1 {
  transform: translateX(-76px);
  transition: transform 0.5s;
}

.portfolio-card:hover .main-image {
  transform: scale(1.1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}